/* 登陆页面 — Figma Dev 导出原文（唯一信源）2026-04-12 */

/* 登陆页面 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: relative;
width: 1920px;
min-width: 1440px;
max-width: 1920px;
height: 1081px;
min-height: 1000px;

background: #FFFFFF;


/* Frame 1282 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 228px 453px 271px 454px;
gap: 10px;

width: 1920px;
height: 1081px;

background: url(微信图片_20181207152621-1.jpg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* 登陆 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 48px 0px;
gap: 48px;

width: 595px;
height: 582px;

/* 白色 */
background: #FFFFFF;
/* 线框颜色 */
border: 1px solid #DEDEDE;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1242 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 500px;
height: 114px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Air-Paper 蓝色 (R标) 1 */

width: 376px;
height: 43px;

background: url(Air-Paper 蓝色 (R标));

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Log in to your account */

width: 500px;
height: 47px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

/* 标题文本字体颜色 */
color: rgba(0, 0, 0, 0.85);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1243 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 500px;
height: 235px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1278 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 500px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1279 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 500px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Email/Phone */

width: 92px;
height: 19px;

/* 正文按钮字体 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

/* 标题文本字体颜色 */
color: rgba(0, 0, 0, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 500px;
height: 45px;

border-radius: 8px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 661 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px;
gap: 10px;

width: 500px;
height: 45px;

background: #FFFFFF;
/* 主色调 */
border: 1px solid #012583;
border-radius: 8px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 667 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 480px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 输入手机号/邮箱 */

width: 480px;
height: 16px;

/* 段落、文本注释字体 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* 默认文本颜色（灰色） */
color: #B0B0B0;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1281 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 500px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Password */

width: 71px;
height: 19px;

/* 正文按钮字体 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

/* 标题文本字体颜色 */
color: rgba(0, 0, 0, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 500px;
height: 45px;

border-radius: 8px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 661 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px;
gap: 10px;

width: 500px;
height: 45px;

background: #FFFFFF;
/* 主色调 */
border: 1px solid #012583;
border-radius: 8px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 667 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 480px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Password */

width: 480px;
height: 16px;

/* 段落、文本注释字体 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* 默认文本颜色（灰色） */
color: #B0B0B0;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Component 275 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 500px;
height: 43px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 520 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 500px;
height: 43px;

/* 主色调 */
background: #012583;
/* 线框颜色 */
border: 1px solid #DEDEDE;
border-radius: 8px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* #机器选型路径 */

width: 51px;
height: 23px;

/* H2-标题 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

/* 白色 */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1240 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 16px;

width: 500px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Already have an account? */

width: 205px;
height: 21px;

/* 正文大标题 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

/* 标题文本字体颜色 */
color: rgba(0, 0, 0, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Register for a BJT account */

width: 213px;
height: 21px;

/* 正文大标题 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

/* 提示色（可点击链接颜色） */
color: #2A7DFA;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
